.post-content
  .posts-title 投稿一覧
  = form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form|
    = form.text_field :keyword, placeholder: "作品を検索する", class: "search-input"
    = form.submit value: "検索", class: "search-btn"
  .thumbnails
    - @tweets.each do |tweet|
      .thumbnail
        .content-post{:style => "background-image: url(#{tweet.image});"}
          = link_to  '詳', "/tweets/#{tweet.id}", method: :get, class:"content-post__link"
        %a{:href => "/users/#{tweet.user.id}"}
          .nickname-text
            投稿者：#{tweet.user.nickname}