<div class="video-content">
  <div class="video-tweet">
    <div class="video-image" style="background-image: url(<%= @tweet.image %>);"></div>
    <div class="more">
      <p class="tweet-name">投稿者:</p>
      <p class="tweet-date"><%= (@tweet.updated_at.strftime("%Y/%m/%d %H:%M")) %></p>
      <p class="video-title"><%= (@tweet.title) %></p>
      <p class="video-text"><%= (@tweet.text) %></p>
      <div class="video-under">
          <%= link_to  'edit', "/tweets/#{@tweet.id}/edit", method: :get, class:"video-btn__edit" %>
          <%= link_to  'delete', "/tweets/#{@tweet.id}", method: :delete, class:"video-btn__delete" %>
          <%= link_to  'Primevideoへ', url=@tweet.link, class:"video-btn__link" %>
      </div> 
    </div>
  </div>
</div>
