
- if product.errors[:category_id].any?
  %ul.error-text
    - product.errors[:category_id].each do |message|
      %li= message
- if product.errors[:link].any?
  %ul.error-text
    - product.errors[:link].each do |message|
      %li= message
- if product.errors[:text].any?
  %ul.error-text
    - product.errors[:text].each do |message|
      %li= message
- if product.errors[:tag_list].any?
  %ul.error-text
    - product.errors[:tag_list].each do |message|
      %li= message
= form_with(model: product, local: true) do |f|
  .row
    .form-group.col-lg-6.col-lg-offset-1.col-sm-8.col-sm-offset-1.col-xs-8.col-xs-offset-1
      = f.label :作品URL, class:"label-name"
      = f.text_field :link, class: "form-control", placeholder: "URLを貼ってください"
  .row
    .form-group.col-lg-6.col-lg-offset-1.col-sm-8.col-sm-offset-1.col-xs-8.col-xs-offset-1
      #category-wraps
        = f.label :"ジャンルを選んでください", class:"label-name"
        = f.collection_select :category_id, Category.roots, :id, :name, {prompt: '---'}, class: "form-control", id: "category-select" 
        .select-wrap#child-wrap
          = f.select :category_id, {}, {}, class: "form-control", id: "child-select" do
            - if product.category.present?
              %option{value: "#{product.category.id}", class: "child-option"}
                = product.category.name
  .row
    .form-group.col-lg-5.col-lg-offset-1.col-sm-8.col-sm-offset-1.col-xs-9.col-xs-offset-1
      = f.label :"タグ（タグ間は『,』で区切ってください。４つまで入力可)", class:"label-name"
      = f.text_field :tag_list, value: product.tag_list.join(','), "data-role" => "tagsinput"
  .row
    .form-group.col-lg-6.col-lg-offset-1.col-sm-8.col-sm-offset-1.col-xs-8.col-xs-offset-1
      = f.label :レビュー, class:"label-name"
      = f.text_area :text, class: "form-control", placeholder: "レビューを記入してください", rows: "10"  
  .row 
    .form-group.col-lg-4.col-lg-offset-1.col-sm-6.col-sm-offset-1.col-xs-6.col-xs-offset-1
      = f.submit "SEND", class:"sdn-btn"
