
- if product.errors[:category_id].any?
  %ul.error-text
    - product.errors[:category_id].each do |message|
      %li= message
- if product.errors[:link].any?
  %ul.error-text
    - product.errors[:link].each do |message|
      %li= message
- if product.errors[:text].any?
  %ul.error-text
    - product.errors[:text].each do |message|
      %li= message
- if product.errors[:tag_list].any?
  %ul.error-text
    - product.errors[:tag_list].each do |message|
      %li= message
= form_with(model: product, local: true) do |f|
  .form-group.col-sm-4.col-md-offset-2
    = f.label :作品URL, class:"label-name"
    = f.text_field :link, class: "form-control", placeholder: "URLを貼ってください"
  .form-group.col-sm-5
    #category-wraps
      = f.label :"ジャンルを選んでください", class:"label-name"
      .select-wrap
        = f.collection_select :category_id, Category.roots, :id, :name, {prompt: '---'}, class: "select-default", id: "category-select" 
      .select-wrap#child-wrap
        = f.select :category_id, {}, {}, class: "select-default", id: "child-select" do
          - if product.category.present?
            %option{value: "#{product.category.id}", class: "child-option"}
              = product.category.name
  .form-group.col-sm-4.col-md-offset-2
    = f.label :レビュー, class:"label-name"
    = f.text_area :text, class: "form-control", placeholder: "レビューを記入してください", rows: "12"
  .form-group.col-sm-4
    .label-name
      タグ（タグ間は『,』で区切ってください。４つまで入力可)
  .form-group.col-sm-5
    .tag-box
      = f.text_field :tag_list, value: product.tag_list.join(','), "data-role" => "tagsinput",  class: "form-control "
  .form-group.col-sm-4.col-md-offset-1
    = f.submit "SEND", class:"sdn-btn"
