-if current_page?(root_path)
  - if products.present?
    .card-area
      - products.first(10).each do |product|
        .product-card
          .content-post{:style => "background-image: url(#{product.image})",class:"product-img"}
            = link_to  '#', "/products/#{product.id}", method: :get, class:"content-post__link"
          %a{:href => "/users/#{product.user.id}"}
            .nickname-text2
              投稿者：#{product.user.nickname}
-else current_page?(except:root_path)
  - if products.present?
    .card-area
      - products.each do |product|
        .product-card
          .content-post{:style => "background-image: url(#{product.image})",class:"product-img"}
            = link_to  '#', "/products/#{product.id}", method: :get, class:"content-post__link"
          %a{:href => "/users/#{product.user.id}"}
            .nickname-text2
              投稿者：#{product.user.nickname}
            