.category-shows
  .post-content
    - case 
    - when current_page?(category_show_product_path(1))
      .category-show
        アクション・アドベンチャー
        = render partial: "product-card", locals: {products: @action}
    - when current_page?(category_show_product_path(2))
      = render partial: "product-card", locals: {products: @sf}
    - when current_page?(category_show_product_path(3))
      = render partial: "product-card", locals: {products: @comedy}
    - when current_page?(category_show_product_path(4))
      = render partial: "product-card", locals: {products: @human}
    - when current_page?(category_show_product_path(5))
      = render partial: "product-card", locals: {products: @fantasy}
    - when current_page?(category_show_product_path(6))
      = render partial: "product-card", locals: {products: @lovestory}
    - when current_page?(category_show_product_path(7))
      = render partial: "product-card", locals: {products: @horror}
    - when current_page?(category_show_product_path(8))
      = render partial: "product-card", locals: {products: @musical}
    - when current_page?(category_show_product_path(9))
      = render partial: "product-card", locals: {products: @war}
    - when current_page?(category_show_product_path(10))
      = render partial: "product-card", locals: {products: @jmovie}
    - when current_page?(category_show_product_path(11))
      = render partial: "product-card", locals: {products: @kmovie}
    - when current_page?(category_show_product_path(12))
      = render partial: "product-card", locals: {products: @etc}
