.main-image
  .textbox
    %p.textbox__explanation
      Are you wondering about
      = succeed "the" do
        %br/
    %h1.textbox__intro Share reviews with everyone!
.post-content
  .posts-title 投稿一覧
  = form_with(url: search_products_path, local: true, method: :get, class: "search-form") do |form|
    = form.text_field :keyword, placeholder: "作品を検索する", class: "search-input"
    = form.submit value: "検索", class: "search-btn"
  .category-name
    =link_to "アクション・アドベンチャー ＞", "", class: "category-show"
  = render partial: "product-card", locals: {products: @action}
  .category-name
    =link_to "SF映画 ＞", "#", class: "category-show"
  = render partial: "product-card", locals: {products: @sf}
  .category-name
    =link_to "コメディ ＞", "#", class: "category-show"
  = render partial: "product-card", locals: {products: @comedy}
  .category-name
    =link_to "ヒューマン・ドラマ ＞", "#", class: "category-show"
  = render partial: "product-card", locals: {products: @human}
  .category-name
    =link_to "ファンタジー ＞", "#", class: "category-show"
  = render partial: "product-card", locals: {products: @fantasy}
  .category-name
    =link_to "ラブストーリー ＞", "#", class: "category-show"
  = render partial: "product-card", locals: {products: @lovestory}
  .category-name
    =link_to "ホラー・サスペンス ＞", "#", class: "category-show"
  = render partial: "product-card", locals: {products: @horror}
  .category-name
    =link_to "戦争 ＞", "#", class: "category-show"
  = render partial: "product-card", locals: {products: @musical}
  .category-name
    =link_to "邦画 ＞", "#", class: "category-show"
  = render partial: "product-card", locals: {products: @jmovie}
  .category-name
    =link_to "韓国映画 ＞", "#", class: "category-show"
  = render partial: "product-card", locals: {products: @kmovie}
  .category-name
    =link_to "その他 ＞", "#", class: "category-show"
  = render partial: "product-card", locals: {products: @etc}