%head 
  %link{:href => "//cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css", :rel => "stylesheet"}/
  %script{:src => "//cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"}
%ul.main-image
  %li
    = link_to "https://www.amazon.co.jp/gp/video/detail/B077JKWZKS/ref=atv_hm_hom_3_c_8syuGY_NySt0A_1_7", target: :_blank do
      = image_tag "youga.png", class:"slider-img"
  %li
    = link_to "https://www.amazon.co.jp/gp/video/detail/B00FHQ1CKY/ref=atv_dp_season_select_s1", target: :_blank do
      = image_tag "ytv.jpg", class:"slider-img" 
  %li
    = link_to "https://www.amazon.co.jp/gp/video/detail/B015VQZWLE/ref=atv_hm_hom_3_c_8syuGY_Xwf9l3_1_15", target: :_blank do
      = image_tag "dball.png", class:"slider-img"
  %li
    = link_to "https://www.amazon.co.jp/gp/video/detail/B083817DLY/ref=atv_hm_hom_3_c_8syuGY_5NR6x6_1_5", target: :_blank do
      = image_tag "gutan.png", class:"slider-img"
  %li
    = link_to "https://www.amazon.co.jp/SING%EF%BC%8F%E3%82%B7%E3%83%B3%E3%82%B0-%E3%80%90%E9%80%9A%E5%B8%B8%E7%89%88%E3%80%91-%E5%AD%97%E5%B9%95%E7%89%88-%E3%83%9E%E3%82%B7%E3%83%A5%E3%83%BC%E3%83%BB%E3%83%9E%E3%82%B3%E3%83%8E%E3%83%92/dp/B0719XCPCQ/ref=sr_1_2?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=sing&qid=1581077619&s=instant-video&sr=1-2", target: :_blank do
      = image_tag "anime2.png", class:"slider-img"
  %li
    = link_to "https://www.amazon.co.jp/gp/video/detail/B07VBY9TJ7/ref=atv_hm_hom_3_c_8syuGY_TFpyv5_1_9", target: :_blank do
      = image_tag "harowin.png", class:"slider-img"
  %li
    = link_to "https://www.amazon.co.jp/gp/video/detail/B0824D5BX2/ref=atv_hm_hom_3_c_8syuGY_5X52jp_1_4", target: :_blank do
      = image_tag "jtv5.png", class:"slider-img"
  %li
    = link_to "https://www.amazon.co.jp/%E5%8D%83%E9%B3%A5%E3%81%AE%E3%83%8B%E3%83%83%E3%83%9D%E3%83%B3%E3%83%8F%E3%83%83%E3%83%94%E3%83%BC%E3%83%81%E3%83%A3%E3%83%B3%E3%83%8D%E3%83%AB-%E4%BA%88%E5%91%8A%E7%B7%A8/dp/B081Y4Y5VX/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E5%8D%83%E9%B3%A5&qid=1581077201&s=instant-video&sr=1-1", target: :_blank do
      = image_tag "chidori.png", class:"slider-img"
  %li
    = link_to "https://www.amazon.co.jp/gp/video/detail/B0839DYKKT/ref=atv_hm_hom_3_c_8syuGY_iVSM3I_1_14", target: :_blank do
      = image_tag "mrrobot.png", class:"slider-img"
  %li
    = link_to "https://www.amazon.co.jp/gp/video/detail/B017PVEQBU/ref=atv_dp_season_select_s2", target: :_blank do
      = image_tag "ytv3.png", class:"slider-img"
  %li 
    = link_to "https://www.amazon.co.jp/gp/video/detail/B07C2JY74N/ref=atv_dp_season_select_s7", target: :_blank do
      = image_tag "kokoguru.png", class:"slider-img"
  %li
    = link_to "https://www.amazon.co.jp/%E3%83%8A%E3%83%9F%E3%83%A4%E9%9B%91%E8%B2%A8%E5%BA%97%E3%81%AE%E5%A5%87%E8%B9%9F-%E5%B1%B1%E7%94%B0%E6%B6%BC%E4%BB%8B/dp/B07Z1J6QY6/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E3%83%8A%E3%83%9F%E3%82%84&qid=1581077460&s=instant-video&sr=1-1", target: :_blank do
      = image_tag "namiya.png", class:"slider-img"
  %li
    = link_to "https://www.amazon.co.jp/%E3%83%AF%E3%82%A4%E3%83%AB%E3%83%89%E3%83%BB%E3%82%B9%E3%83%94%E3%83%BC%E3%83%89-%E3%82%B9%E3%82%AB%E3%82%A4%E3%83%9F%E3%83%83%E3%82%B7%E3%83%A7%E3%83%B3-%E5%90%B9%E6%9B%BF%E7%89%88-%E3%83%B4%E3%82%A3%E3%83%B3%EF%BD%A5%E3%83%87%E3%82%A3%E3%83%BC%E3%82%BC%E3%83%AB/dp/B012V0CXZG/ref=sr_1_1?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=18GBC1VNI1BCG&keywords=%E3%83%AF%E3%82%A4%E3%83%AB%E3%83%89&qid=1581077550&s=instant-video&sprefix=%E3%83%AF%E3%82%A4%E3%83%AB%E3%83%89%2Cinstant-video%2C264&sr=1-1", target: :_blank do
      = image_tag "wsp.png", class:"slider-img"
  
  

  
.post-content
  = form_with(url: search_products_path, local: true, method: :get, class: "search-form") do |form|
    %span.choice-area
    - @choice.each do |choice| 
      %span
        = link_to "#{choice.name}", product_path(choice.id), class:"choice-btn"
    = form.text_field :keyword, placeholder: "作品名、キーワード", class: "search-input"
    = form.submit value: "キーワード検索", class: "search-btn"
    .search-area2 
      = form.text_field :keyword, placeholder: "作品名、キーワード", class: "search-input2"
      = form.submit value: "キーワード検索", class: "search-btn2"
    / レスポンシブ対応用form
    %span.tag-search
      = link_to "タグ一覧検索", tag_search_product_path(1), class:"tag-search-btn"
    %span.like-tag よく使われるタグ
    - tag_cloud(@toptags,"") do |tag|
      %span.like-tag-list
        .like-tag-label
          = link_to "＃#{tag.name}", tags_index_products_path(tag_name: tag.name), class: "like-tag-text"
  - @categories.each do |category|
    .category-name
      =link_to "#{category.name} ＞", category_show_product_path(category.id), class: "category-show"
    = render partial: "product-card", locals: {products: category.products}

            