%head
  %link{:href => "https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css", :rel => "stylesheet"}/
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
  %script{:src => "https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"}
%body
  %ul.main-image
    %li
      = image_tag "youga.png", class:"slider-img"
    %li
      = image_tag "ytv.jpg", class:"slider-img" 
    %li
      = image_tag "joker.jpg", class:"slider-img-small"
    %li
      = image_tag "iq246.jpg", class:"slider-img-small"
    %li
      = image_tag "anime2.png", class:"slider-img"
    %li
      = image_tag "got.jpg", class:"slider-img-small"
    %li
      = image_tag "jtv5.png", class:"slider-img"
    %li
      = image_tag "chidori.png", class:"slider-img"
    %li
      = image_tag "ytv2.jpg", class:"slider-img-small"
    %li
      = image_tag "ytv3.png", class:"slider-img"
    %li
      = image_tag "kokoguru.png", class:"slider-img"

    
  .post-content
    = form_with(url: search_products_path, local: true, method: :get, class: "search-form") do |form|
      %span.choice-area
        %span
          = link_to "映画", root_path, class:"choice-btn"
        %span
          = link_to "TV番組", index_tv_products_path, class:"choice-btn"
      = form.text_field :keyword, placeholder: "作品名、キーワード", class: "search-input"
      = form.submit value: "キーワード検索", class: "search-btn"
      %span.tag-search
        = link_to "タグ一覧検索", tag_search_products_path, class:"tag-search-btn"
      %span.like-tag よく使われるタグ
      - tag_cloud(@toptags,"") do |tag|
        %span.like-tag-list
          .like-tag-label
            = link_to "＃#{tag.name}", tags_index_products_path(tag_name: tag.name), class: "like-tag-text"
    .category-name
      =link_to "アクション・アドベンチャー ＞",category_show_product_path(1), class: "category-show"
    = render partial: "product-card", locals: {products: @action}
    .category-name
      =link_to "SF映画 ＞", category_show_product_path(2), class: "category-show"
    = render partial: "product-card", locals: {products: @sf}
    .category-name
      =link_to "コメディ ＞", category_show_product_path(3), class: "category-show"
    = render partial: "product-card", locals: {products: @comedy}
    .category-name
      =link_to "ヒューマン・ドラマ ＞", category_show_product_path(4), class: "category-show"
    = render partial: "product-card", locals: {products: @human}
    .category-name
      =link_to "ファンタジー ＞", category_show_product_path(5), class: "category-show"
    = render partial: "product-card", locals: {products: @fantasy}
    .category-name
      =link_to "ラブストーリー ＞", category_show_product_path(6), class: "category-show"
    = render partial: "product-card", locals: {products: @lovestory}
    .category-name
      =link_to "ホラー・サスペンス ＞", category_show_product_path(7), class: "category-show"
    = render partial: "product-card", locals: {products: @horror}
    .category-name
      =link_to "ミュージカル ＞", category_show_product_path(8), class: "category-show"
    = render partial: "product-card", locals: {products: @musical}
    .category-name
      =link_to "戦争 ＞", category_show_product_path(9), class: "category-show"
    = render partial: "product-card", locals: {products: @war}
    .category-name
      =link_to "邦画 ＞", category_show_product_path(10), class: "category-show"
    = render partial: "product-card", locals: {products: @jmovie}
    .category-name
      =link_to "韓国映画 ＞", category_show_product_path(11), class: "category-show"
    = render partial: "product-card", locals: {products: @kmovie}
    .category-name
      =link_to "その他 ＞", category_show_product_path(12), class: "category-show"
    = render partial: "product-card", locals: {products: @metc}

