.result-back
  .post-content
    .title-box 
      投稿一覧
      %span
        = form_with(url: search_products_path, local: true, method: :get, class: "search-ward-form") do |form|
          = form.text_field :keyword, placeholder: "作品名、キーワード", class: "search-ward-input"
          = form.submit value: "検索", class: "search-ward-btn",data:{disable_with:"送信中"}
    .post-content-users
      = render partial: "product-card2", locals: {products: @products}
    .paginate
      = paginate(@products)