.video-content
  .tag-title
    タグ一覧
    %span.choice-area2
      %span
        = link_to "映画", tag_search_product_path(2), class:"choice-btn2"
      %span
        = link_to "TV番組", tag_search_product_path(3), class:"choice-btn2"
      %span
        = link_to "全部", tag_search_product_path(1), class:"choice-btn2"
  .tag-area
    - tag_cloud(@tags,"") do |tag|
      .tag-label
        = link_to "＃#{tag.name}", tags_index_products_path(tag_name: tag.name), class: "tag-text2"
