!!!
%html{:lang => "ja"}
  %head    
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"}
    %link{:href => "//cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css", :rel => "stylesheet"}/
  %script{:src => "//cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"}
    = javascript_include_tag 'application'
    / Required meta tags
    = csrf_meta_tags
    = csp_meta_tag
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    / Bootstrap CSS
    / %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :rel => "stylesheet"}/
    = stylesheet_link_tag  'application', media: 'all'
    %link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Permanent+Marker", :rel => "stylesheet"}>/
    %title Primevideoserch
  %body
    = render 'layouts/notifications'
    .header
      %i.fab.fa-amazon.fa-6x{:style => "color:orange;"}
      .header-title
        = link_to "PrimeVideoBlog", root_path, class:"title-text" 
      - if user_signed_in?
        %ul.header-nav
          %li.nav-item
            = link_to "My page", "/users/#{current_user.id}", class:"nav-text"
          %li.nav-item
            = link_to  "Post", "/products/new", class:"nav-text"
          %li.nav-item
            = link_to "Log out", destroy_user_session_path, method: :delete, class:"nav-text"
          .nickname-text
            user > #{current_user.nickname}
      - else
        %ul.header-nav
          %li.nav-item
            = link_to "Log in", new_user_session_path, class:"nav-text"
          %li.nav-item
            = link_to "sign up", new_user_registration_path, class:"nav-text"
      
    / Optional JavaScript
    / jQuery first, then Popper.js, then Bootstrap JS
  %html= yield
